body {
    padding: 0;
    margin: 0;
}

#main-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #ffe1c9;
}

#main-header {
    display: flex;
    flex: 0 0 150px;
    justify-content: center;
    background-color: #ddfff6;
    transition-property: background-color;

}

#main-header h1 {
    font-family: "Rockin' Record", sans-serif;
    font-size: 80px
}

#main-body {
    display: flex;
    flex: 1 1 800px;
    background-color: #a6ff7b;
    justify-content: center;
}

#menu {
    flex: 0 0 300px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ddfff6;
    transition-property: background-color;
}

#game-container {
    display: flex;
    flex: 1 1 400px;
    height: 100%;
    box-sizing: border-box;
    background-color: #ddfff6;

}

#desk-table-container {
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
    height: 100%;
    background-color: #ddfff6;
    transition-property: background-color;
}

#choose-paddings {
    flex: 1 1 100px;
    height: 100%;
    background-color: #ddfff6;
    box-sizing: border-box;
    position: relative;
    transition-property: background-color;
}

#choose-overflow {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    position: absolute;
    margin: 1px;
    left: 0;
    right: 0;
    transition-property: background-color;

}

#choose-box {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    margin-top: 3px;
}

.draggable-object {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 150px;
    height: 150px;
    margin: 1px;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    flex: 0 0 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 9px;
    box-shadow: 0px 0px 4px #a7a7a7;
    transition-property: background-color;
}

.hidden-objects {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 150px;
    height: 150px;
    margin: 1px;
    opacity: 0.0;
    font-size: 30px;
    font-weight: 700;
    flex: 0 0 150px;
}


#table1 {
    user-select: none;
    height: min-content;
}


td {
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 9px;
    font-size: 30px;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #a7a7a7;
    transition-property: background-color, color;
    color: white;
}
